nicio, configuración de la cuenta, clic en anuncios de facebook, luego en configuración de publicidad aplicable a terceros elige "Nadie" en el listado y guarda los cambios. Copia esto y pégalo en tu perfil y en el de tus compañer@s."bin